openapi: 3.1.0
info:
  title: Aircall Public API
  version: "v1"
  description: |
    Best-effort OpenAPI 3.1 representation of the Aircall Public API derived from
    https://developer.aircall.io/api-references/. Aircall is a cloud phone
    system. Resources include users, teams, calls, numbers, contacts, tags,
    messages, webhooks, dialer campaigns, conversation intelligence, and the
    AI voice agent. Authentication supports OAuth 2.0 (for technology partners)
    or HTTP Basic auth using api_id / api_token (for customers). Rate limit:
    120 requests per minute per API key.
  contact:
    name: Aircall Developer
    url: https://developer.aircall.io/api-references/
servers:
  - url: https://api.aircall.io/v1
    description: Aircall production API
tags:
  - name: Users
  - name: Teams
  - name: Calls
  - name: Numbers
  - name: Contacts
  - name: Tags
  - name: Messages
  - name: Webhooks
  - name: Conversation Intelligence
  - name: Dialer Campaigns
  - name: AI Voice Agent
paths:
  /users:
    get:
      tags: [Users]
      summary: List users
      operationId: listUsers
      responses:
        '200': { description: OK }
    post:
      tags: [Users]
      summary: Create user
      operationId: createUser
      responses:
        '201': { description: Created }
  /users/{id}:
    get:
      tags: [Users]
      summary: Retrieve user
      operationId: getUser
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    put:
      tags: [Users]
      summary: Update user
      operationId: updateUser
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    delete:
      tags: [Users]
      summary: Delete user
      operationId: deleteUser
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
  /teams:
    get:
      tags: [Teams]
      summary: List teams
      operationId: listTeams
      responses:
        '200': { description: OK }
    post:
      tags: [Teams]
      summary: Create team
      operationId: createTeam
      responses:
        '201': { description: Created }
  /teams/{id}:
    get:
      tags: [Teams]
      summary: Retrieve team
      operationId: getTeam
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    delete:
      tags: [Teams]
      summary: Delete team
      operationId: deleteTeam
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
  /calls:
    get:
      tags: [Calls]
      summary: List calls
      operationId: listCalls
      responses:
        '200': { description: OK }
  /calls/search:
    get:
      tags: [Calls]
      summary: Search calls
      operationId: searchCalls
      responses:
        '200': { description: OK }
  /calls/{id}:
    get:
      tags: [Calls]
      summary: Retrieve call
      operationId: getCall
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /calls/{id}/transfer:
    post:
      tags: [Calls]
      summary: Transfer a call
      operationId: transferCall
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /calls/{id}/comments:
    post:
      tags: [Calls]
      summary: Add comment to a call
      operationId: commentCall
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '201': { description: Created }
  /calls/{id}/tags:
    post:
      tags: [Calls]
      summary: Tag a call
      operationId: tagCall
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /calls/{id}/archive:
    put:
      tags: [Calls]
      summary: Archive a call
      operationId: archiveCall
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /numbers:
    get:
      tags: [Numbers]
      summary: List numbers
      operationId: listNumbers
      responses:
        '200': { description: OK }
  /numbers/{id}:
    get:
      tags: [Numbers]
      summary: Retrieve number
      operationId: getNumber
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    put:
      tags: [Numbers]
      summary: Update number
      operationId: updateNumber
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /contacts:
    get:
      tags: [Contacts]
      summary: List contacts
      operationId: listContacts
      responses:
        '200': { description: OK }
    post:
      tags: [Contacts]
      summary: Create contact
      operationId: createContact
      responses:
        '201': { description: Created }
  /contacts/{id}:
    get:
      tags: [Contacts]
      summary: Retrieve contact
      operationId: getContact
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    put:
      tags: [Contacts]
      summary: Update contact
      operationId: updateContact
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    delete:
      tags: [Contacts]
      summary: Delete contact
      operationId: deleteContact
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
  /tags:
    get:
      tags: [Tags]
      summary: List tags
      operationId: listTags
      responses:
        '200': { description: OK }
    post:
      tags: [Tags]
      summary: Create tag
      operationId: createTag
      responses:
        '201': { description: Created }
  /tags/{id}:
    get:
      tags: [Tags]
      summary: Retrieve tag
      operationId: getTag
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    put:
      tags: [Tags]
      summary: Update tag
      operationId: updateTag
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
    delete:
      tags: [Tags]
      summary: Delete tag
      operationId: deleteTag
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '204': { description: Deleted }
  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200': { description: OK }
    post:
      tags: [Webhooks]
      summary: Create webhook
      operationId: createWebhook
      responses:
        '201': { description: Created }
  /webhooks/{id}:
    get:
      tags: [Webhooks]
      summary: Retrieve webhook
      operationId: getWebhook
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: OK }
    delete:
      tags: [Webhooks]
      summary: Delete webhook
      operationId: deleteWebhook
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Deleted }
  /calls/{id}/transcription:
    get:
      tags: [Conversation Intelligence]
      summary: Retrieve call transcription
      operationId: getTranscription
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
  /calls/{id}/summary:
    get:
      tags: [Conversation Intelligence]
      summary: Retrieve call summary
      operationId: getSummary
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { description: OK }
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Aircall customer authentication using api_id (username) and api_token (password) sent as HTTP Basic auth.
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow for Aircall Marketplace technology partners.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.aircall.io/oauth/authorize
          tokenUrl: https://auth.aircall.io/oauth/token
          scopes:
            public_api: Access to the Aircall Public API
security:
  - BasicAuth: []
  - OAuth2: [public_api]
